/* temporary */
body header, 
body main, 
body footer {
  border: 2px solid red;
}

section {
  border: 1px solid blue;
}

section > * {
  border: 1px solid black;
}
/* end */

body, 
main, 
header, 
footer, 
section {
  display: flex;
  /* border: 5px solid black; */
}

body, 
main, 
.two, 
.three {
  flex-direction: column;
}

.two .container {
  display: flex;
}