/* temporary */
body header, 
body main, 
body footer {
  border: 2px solid red;
}

section {
  border: 1px solid blue;
}

section > * {
  border: 1px solid black;
}
/* end */

body, 
main, 
header, 
footer, 
section {
  display: flex;
}

body, 
main, 
.two, 
.three {
  flex-direction: column;
}

.two .container {
  display: flex;
}

header {
  justify-content: space-between;
}

menu {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
}

.one div {
  flex: 1;
}