/* BODY */
body {
  background-color: #1B1B22;
  font-family: 'Roboto', 'san-serif';
  margin: 0% 12%;
  display: flex;
  flex-direction: column;
}


/* MAIN */
main {
  display: flex;
  flex-direction: column;
}


/* HEADER */
header {
  background-color: #1F2937;
  padding: 8px 10%;
  display: flex;
  justify-content: space-between;
}
.logo {
  color: #F9FAF8;
  font-size: 24px;
  flex: 1;
}
menu {
  padding: 0px;
  margin: 0px;
  gap: 15px;
  list-style: none;
  font-size: 18px;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}
a {
  text-decoration: none;
  color: #E5E7EB;
}


/* SECTION */
section {
  padding: 5%;
  display: flex;
}


/* SECTION ONE */
.one {
  background-color: #1F2937;
  justify-content: space-between;
  align-items: center;
}
.one div {
  flex: 1;
}
.one .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.one .container h1 {
  color: #F9FAF8;
  margin: 0px;
  font-size: 48px;
  font-weight: 800;
  padding-right: 10%;
}
.one .container p {
  color: #E5E7EB;
  margin: 0px;
  margin-bottom: 16px;
  padding-right: 10%;
  font-size: 18px;
}
.one button {
  background-color: #3882F6;
  border: #3882F6;
  color: #F9FAF8;
  border-radius: 8px;
  padding:  4px 32px;
  font-size: 18px;
  font-weight: 600;
}
.one .image {
  display: flex;
  align-items: center;
}
.one img {
  max-width: 100%;
  object-fit: contain;
}


/* SECTION TWO */
.two {
  background-color: #F9FAF8;
  color: #1F2937;
  flex-direction: column;
}
.two h1 {
  text-align: center;
  font-size: 36px;
  font-weight: 800;
}
.two .container {
  display: flex;
  justify-content: center;
  text-align: center;
}
.two figure {
  max-width: min-content;
}
.two img {
  border: 2px solid #3882F6;
  border-radius: 8px;
}
.two figcaption {
  font-size: 18px;
}


/* SECTION THREE */
.three {
  background-color: #E5E7EB;
  color: #1F2937;
  flex-direction: column;
}
.three blockquote {
  font-size: 36px;
  font-style: italic;
}
.three figcaption {
  margin-right: 50px;
  text-align: end;
  font-size: 24px;
  font-weight: 700;
}


/* SECTION FOUR */
.four {
  background-color: #F9FAF8;
}
.four div {
  display: flex;
  flex: 1;
}
.four .container {
  background-color: #3882F6;
  border-radius: 10px;
  max-width: 75%;
  margin: auto;
}
.four .container .content {
  padding: 0px 50px;
  display: flex;
  flex: 4 4 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.four strong {
  color: #F9FAF8;
  font-size: 24px;
}
.four p {
  color: #E5E7EB;
  margin: 0px;
  font-size: 18px;
}
.four button {
  background-color: #3882F6;
  color: #F9FAF8;
  margin: 25px 50px;
  border-radius: 8px;
  border: 2px solid #F9FAF8;
  height: min-content;
  width: min-content;
  flex: 1;
  align-self: center;
}


/* FOOTER */
footer {
  background-color: #1F2937;
  color: #E5E7EB;
  padding: 8px 10%;
  font-size: 18px;
  display: flex;
  justify-content: center;
}